.join-loop{
    display:flex;
    justify-content: space-between;
    height: fit-content;
    background: rgba(37, 55, 80, 1);
    padding: 2rem 4rem 2rem 18rem;
    align-items: center;
}

.subscribe-background{
    border-radius: 0;
    background: none;
    padding: 1rem 2rem;
    margin: 0;
    border: none;
}

.subscribe-cta > input{
   width: 30rem;
   background: white;
}

.subscribe-cta > button{
    width: 10rem;
    background-color: rgba(254, 250, 242);
    font-weight: 700;
    color: rgba(37, 55, 80, 1);
}

::placeholder{
    color: rgba(37, 55, 80, 1);
    font-weight: 500;
    opacity: 1;
}

.vertical-line{
    background-color: rgba(73, 141, 64, 1);
    height: 80px;
    width: 6px;
    margin-right: 0.5rem;
}

.join-loop-1{
    display:flex;
    align-items: center;
    color: white;
}

.join-loop-1  h3,
.join-loop-1  p
{
    margin: 0;
    padding: 0;
}

.join-loop-1 h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem
}