<footer>
<div class="join-loop">
    <div class="floating-circle circle-1"></div>
    <div class="floating-circle circle-2"></div>
    <div class="join-loop-1">
        <div class="vertical-line"></div>
        <div>
            <h3>Join the loop</h3>
            <p>Subscribe to our newsletter</p>
        </div>
    </div>
    <div class="subscribe-cta">
        <input class="subscribe-background" placeholder="Please share your Email Address.">
        <button class="subscribe-background">Subscribe</button>
    </div>
</div>
<div class="links">
    <div class="grid-4 novostripe-logo">
        <img src="../../assets/images/novostripe_logo.png">
    </div>
    <div class="grid-4 page-links industries">
        <h3>Industries</h3>
        <div>
            <a href=".">Data Healthcare</a>
            <a href=".">Finance Industry</a>
            <a href=".">Manufacturing</a>
            <a href=".">Information technology</a>
            <a href=".">Retail</a>
        </div>
    </div>
    <div class="grid-4 page-links solutions">
        <h3>Solutions</h3>
        <div>
            <a href=".">Data Engineering</a>
            <a href=".">Artificial Intelligence</a>
            <a href=".">Business Intelligence</a>
        </div>
    </div>
    <div class="grid-4 page-links company">
        <h3>Company</h3>
        <div>
            <a href=".">Why Novostripe</a>
            <a href=".">Our Culture</a>
            <a href=".">Our Impact</a>
        </div>
    </div>
    <div class="grid-2 policies">
        <div class="link-list">
            <a class="larger" href=".">Privacy Policy</a>
            <a class="smaller" href=".">Privacy</a>
            <a class="larger" href=".">Terms of Use</a>
            <a class="smaller" href=".">Terms</a>
            <a class="larger" href=".">Cookie Preference</a>
            <a class="smaller" href=".">Cookie</a>
            <a class="larger" href=".">Contact Us</a>
            <a class="smaller" href=".">Contact</a>
        </div>
        <div class="copyright">
            <p>&copy; Novostripe, PLC. All rights preserved. Various trademarks held by thier respective owners</p>
        </div>
    </div>
    <div class="grid-2 icons">
        <div>
            <img src="../../assets/icons/Frame 18276.png">
            <img src="../../assets/icons/Frame 18277.png">
            <img src="../../assets/icons/Frame 18278.png">
            <img src="../../assets/icons/Frame 18279.png">
        </div>
    </div>
</div>
</footer>