.join-loop{
    display:flex;
    justify-content: space-between;
    height: fit-content;
    background: rgba(37, 55, 80, 1);
    padding: 2rem 4rem 2rem 18rem;
    align-items: center;
    position:relative;
    overflow: hidden;
}

.floating-circle{
    position: absolute;
}

.circle-1{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    background-image: linear-gradient(to right, #6249E2, #16A7D1);
    left: -45px;
}

.circle-2{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-image: linear-gradient(to top left, #6249E2, #16A7D1);
    top: -12px;
    left: 500px;
}

.subscribe-background{
    border-radius: 0;
    background: none;
    padding: 1rem 2rem;
    margin: 0;
    border: none;
}

.subscribe-cta > input{
   width: 30rem;
   background: white;
}

.subscribe-cta > button{
    width: 10rem;
    background-color: rgba(254, 250, 242);
    font-weight: 700;
    color: rgba(37, 55, 80, 1);
}

::placeholder{
    color: rgba(37, 55, 80, 1);
    font-weight: 500;
    opacity: 1;
}

.vertical-line{
    background-color: rgba(73, 141, 64, 1);
    height: 80px;
    width: 6px;
    margin-right: 0.5rem;
}

.join-loop-1{
    display:flex;
    align-items: center;
    color: white;
}

.join-loop-1  h3,
.join-loop-1  p
{
    margin: 0;
    padding: 0;
}

.join-loop-1 h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem
}

.links{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    margin: 2rem 0;
}

.grid-2{
    grid-column: span 2;    
}
.grid-4 > div {
    display: flex;
    flex-direction: column;
}
.grid-4 > div > a{
    text-decoration: none;
    color: black;
    margin: 0.5rem 0;
}

.grid-4 > h3{
    font-weight: 600;
}

.grid-4.novostripe-logo{
    display:flex;
    align-items: center;
}

.policies > .link-list > a{
    text-decoration: none;
    color: black;
    margin-right: 1.5rem;
}

.policies > .link-list{
    margin-bottom: 1rem;
}

.grid-2.icons{
    margin-left: 30rem;
}

.grid-2.icons > div > img{
    margin: 0.5rem;
}

@media (max-width: 1390px){
    .subscribe-cta > input{
        width: 20rem;
    }
    .grid-2{
        grid-column: span 4;
    }
    .grid-2.icons{
        margin: 0;
    }
}

@media (max-width: 1220px){
    .join-loop{
        padding-left: 10rem;
    }
    .circle-2{
        left: 300px;
    }
}

@media (max-width: 1220px){
    .join-loop{
        padding-left: 5rem;
    }
    .circle-1{
        left: -90px;
    }
}

@media (max-width: 980px){
    .join-loop{
        display: block;
        padding: 1rem 2rem 1rem 2rem;
    }
    .join-loop-1{
        margin-bottom: 1rem;
    }
    .circle-1{
        display: none;
    }
    .links{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        text-align: center;
    }
    .grid-2{
        grid-column: span 2;
    }
    .grid-2.icons{
        margin-top: 2rem;
    }
}

@media (max-width: 680px){
    .subscribe-cta > input{
        width: max-content;
    }
    .subscribe-cta > button{
        width: fit-content;
    }
    .subscribe-background{
        padding: 1rem;
    }
    .vertical-line{
        height: 50px;
        width: 4px;
        margin-right: 0.2rem;
    }
    .join-loop-1 h3{
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .2rem
    }
    .join-loop-1  p{
        font-size: .8rem;
    }
    .links{
        display: block;
        text-align: left;
    }
    .grid-4.novostripe-logo{
        display: flex;
        justify-content: center;
    }
    .grid-2.policies{
        margin-top: 2rem;
    }
}

@media (max-width: 460px){
    .join-loop{
        display: block;
        padding: .8rem;
    }
    .subscribe-cta > input{
        width: 12rem;
    }
    .subscribe-cta > button{
        width: fit-content;
    }
    .subscribe-background{
        padding: 1rem;
    }
}