<footer>
<div class="join-loop">
    <div class="floating-circle circle-1"></div>
    <div class="floating-circle circle-2"></div>
    <div class="join-loop-1">
        <div class="vertical-line"></div>
        <div>
            <h3>Join the loop</h3>
            <p>Subscribe to our newsletter</p>
        </div>
    </div>
    <div class="subscribe-cta">
        <input class="subscribe-background" placeholder="Please share your Email Address.">
        <button class="subscribe-background">Subscribe</button>
    </div>
</div>
</footer>