<div class="main">
    <h4>Get Quote</h4>
    <div class="input-box">
        <label for="name">Name</label>
        <input class="input-field" id="name" placeholder="Enter your Name">
    </div>
    <div class="input-box">
        <label for="email">Email</label>
        <input class="input-field" id="email" placeholder="Enter your Email">
    </div>
    <div class="input-box">
        <label for="phone-number">Phone Number</label>
        <div class="select-box">
            <select>
                <option>Test</option>
                <option>Test</option>
            </select>
            <input class="input-field" id="phone-number" placeholder="Enter Phone Number">
        </div>
    </div>
    <div class="input-box">
        <label for="budget">Estimated Budget</label>
        <div class="select-box">
            <select>
                <option>Test</option>
                <option>Test</option>
            </select>
            <input class="input-field" id="budget" placeholder="Enter Amount">
        </div>
    </div>
    <div class="input-box">
        <label>How can we help?</label>
        <textarea rows="7" class="input-field" placeholder="Start Typing..."></textarea>
    </div>
    <div class="input-box checkboxes">
        <div>
            <input type="checkbox" id="research-and-qa">
            <label for="research-and-qa">Research and QA Testing</label>
        </div>
        <div>
            <input type="checkbox" id="bi">
            <label for="bi">Business Intelligence</label>
        </div>
        <div>
            <input type="checkbox" id="data-engineering">
            <label from="data-engineering">Data Engineering</label>
        </div>
        <div>
            <input type="checkbox" id="software-development">
            <label from="software-development">Software Development</label>
        </div>
        <div>
            <input type="checkbox" id="ai-ml">
            <label from="ai-ml">AI & ML Solutions</label>
        </div>
    </div>
    <div class="actions">
        <div class="form-buttons">
            <button class="cancel-button">Cancel</button>
            <button class="get-started-button">Get Started</button>
        </div>
    </div>
</div>