<div class="main">
    <div class="part-1">
        <div class="contact-how">
            <h2>Contact Our Sales Team</h2>
            <p>We Are Happy To Answer Questions And Have You<br>Acquainted With Novostripe</p>
            <ul class="contact-options">
                <li>Learn how to increase team productivity</li>
                <li>Get Pricing Information</li>
                <li>Explore use cases for your team</li>
            </ul>
        </div>
        <div class="tech-list">
            <img src="../../../assets/images/vecteezy_samsung-logo-icon-editorial-vector_6892649-removebg-preview-2.png" class="">
            <img src="../../../assets/images/vecteezy_samsung-logo-icon-editorial-vector_6892649-removebg-preview.png" class="">
            <img src="../../../assets/images/vecteezy_colourful-google-text-logo-on-white-background_10353286-removebg-preview-1.png" class="">
            <img src="../../../assets/images/vecteezy_samsung-logo-icon-editorial-vector_6892649-removebg-preview-1.png" class="">
            <img src="../../../assets/images/vecteezy_colourful-google-text-logo-on-white-background_10353286-removebg-preview-2.png" class="">
        </div>
    </div>
    <div class="part-2">
        <app-contact-form></app-contact-form>
    </div>
</div>