.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 30rem;
}

.nav-links>a{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}
.nav-cta{
    display: flex;
    justify-content: space-between;
    width: 19rem;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}

@media (max-width: 1150px){
    .nav-links,
    .nav-cta{
        display: none;
    }
    .main>img{
        width: 250px;
    }
    .hamburger-menu{
        display: block;
    }
}