<nav class="main">
    <img routerLink="" src="../../assets/images/novostripe_logo.svg">
    <div class="nav-links">
        <div [navbarHover]="'nav-modal-1'" class="nav-item">
            <div>
                <a href="." class="nav-link">Solutions</a>
                <div id="nav-modal-1" class="nav-modal">
                    <div>
                        <a href=".">Data Engineering</a>
                        <a href=".">Artificial Intelligence</a>
                        <a href=".">Business Intelligence</a>
                    </div>
                </div>
            </div>
        </div>
        <div [navbarHover]="'nav-modal-2'" class="nav-item">
            <div>
                <a href="industries" class="nav-link">Industries</a>
                <div id="nav-modal-2" class="nav-modal">
                    <div>
                        <a href=".">Healthcare</a>
                        <a href=".">Financial Industry</a>
                        <a href=".">Manufacturing</a>
                        <a href=".">Information Technology</a>
                        <a href=".">Retail</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="." class="nav-link">Insights</a>
        <div [navbarHover]="'nav-modal-3'" class="nav-item">
            <div>
                <a href="." class="nav-link">Company</a>
                <div id="nav-modal-3" class="nav-modal">
                    <div>
                        <a href=".">Why Novostripe</a>
                        <a href=".">Our Culture</a>
                        <a href=".">Our Impact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-cta">
        <button routerLink="quote" class="action-button button-green">Get your Quote</button>
        <button routerLink="contact-us" class="action-button button-white">Contact Us</button>
    </div>
    <div class="hamburger-menu">
        <button routerLink="contact-us" class="action-button button-green">Contact us</button>
        <button (click)="sidenavOpen = !sidenavOpen" mat-icon-button>
            <mat-icon>
                {{ sidenavOpen ? 'close' : 'menu' }}
            </mat-icon>
        </button>
    </div>
</nav>