<div class="main">
    <h4>Contact Us</h4>
    <div class="flex-inputs">
        <div class="input-box">
            <label for="first-name">First Name</label>
            <input class="input-field" id="first-name" placeholder="Enter First Name">
        </div>
        <div class="input-box">
            <label for="second-name">Second Name</label>
            <input class="input-field" id="second-name" placeholder="Enter Second Name">
        </div>
    </div>
    <div class="input-box">
        <label for="email">Work Email</label>
        <input class="input-field" id="email" placeholder="Enter Your Work Email">
    </div>
    <div class="input-box">
        <label for="country">Country</label>
        <select class="input-field" id="country">
            <option>test</option>
            <option>test</option>
        </select>
    </div>
    <div class="flex-inputs">
        <div class="input-box">
            <label for="company-name">Company</label>
            <input class="input-field" id="company-name" placeholder="Enter Company Name">
        </div>
        <div class="input-box">
            <label for="company-size">Company Size</label>
            <input class="input-field" id="company-size" placeholder="Enter Company Size">
        </div>
    </div>
    <div class="input-box">
        <label for="help-you">How can our team help you?</label>
        <select class="input-field" id="help-you">
            <option>test</option>
            <option>test</option>
        </select>
    </div>
    <div class="input-box">
        <label for="anything-else">Anything Else? (Option)</label>
        <textarea class="input-field" rows="7" placeholder="Start typing..."></textarea>
    </div>
    <div class="actions">
        <div class="form-buttons">
            <button class="cancel-button">Cancel</button>
            <button class="get-started-button">Get Started</button>
        </div>
    </div>
</div>
