<div class="main">
    <div class="part-1">
        <img src="../../../assets/images/engine_image.png">
    </div>
    <div class="part-2">
        <div>
            <h4>Leveraging Data & Technology In Manufacturing</h4>
            <div class="horizontal-line"></div>
            <p>
                The future of manufacturing is being shaped by advanced technology.<br>
                Manufacturing advances, which range from digital design, sophisticated<br>
                robotics, and novel materials to additive manufacturing, augmented reality,<br>
                and predictive analytics, can boost orgranizational competitiveness and<br>
                promote economic growth.
            </p>
        </div>
        <div>
            <h4>Data Driven Manufacturing.</h4>
            <div class="horizontal-line"></div>
            <p>
                To get useful insights from big data, manufacturers require a sustainable smart<br>
                manufacturing ecosystem. You may transition to predictive maintenance with<br>
                The future of manufacturing is being shaped by advanced technology.<br>
                Manufacturing advances, which range from digital design, sophisticated<br>
                robotics, and novel materials to additive manufacturing, augmented reality,<br>
                and predictive analytics, can boost orgranizational competitiveness and<br>
                promote economic growth.
                the aid of our analytics solutions, which will save expenses and unscheduled<br>
                downtimes. To assist you in expanding into both established and developing<br>
                areas, Novostripe provides strategy and implementation from a commercial<br>
                and technological perspective.
            </p>
        </div>
    </div>
</div>