.section{
    margin: 0 8rem;
}

.nav-section{
    margin-left: 6.2rem !important;
}

.landing{
    background-color: #FEFAF2;
}

@media (max-width: 1400px){
    .section{
        margin: 0 2rem;
    }
    .nav-section{
        margin-left: .25rem !important;
    }
}

@media (max-width: 500px){
    .section{
        margin: 0 1rem;
    }
}