<div class="main">
    <div>
        <h3 class="large-banner-text">Premier data solutions for AI Optimization</h3>
        <p class="small-text">
            Discover the untapped potential Artificial Intelligence and data analytics <br>
            with our cutting-edge technology solutions. From innovative research to <br>
            software solutions, gain valuable insights and drive transformative growth in <br>
            digital age.
        </p>
        <div class="actions">
            <button class="action-button button-green">Launch your project</button>
            <button class="action-button button-white">Talk to Sales</button>
        </div>
    </div>
    <div class="banner-image"></div>
</div>