<div class="main">
    <div class="part-2">
        <div>
            <h4>Insight Forecasted Production</h4>
            <div class="horizontal-line"></div>
            <p>
                By intergrating the data from disparate system utilizing our specialized data
                engineering capabilities, you can turn your manufacturing company into a
                completely data-driven firm. We assist you with demand planning and
                forecasting by providing improved real-time visibility
            </p>
        </div>
        <div>
            <h4>Intergration Of Cloud Data</h4>
            <div class="horizontal-line"></div>
            <p>
                Due to the cloud's flexibility, efficiency, and scalability, manufacturers all over
                the world are switching. Using tried-and-true procedures, technological
                expeditors, and a vast network of qualified professional, we will assist you in
                determining the ideal cloud approach for your company.
            </p>
        </div>
    </div>
    <div class="part-1">
        <img src="../../../assets/images/engine_image.png">
    </div>
</div>
