<div class="main">
    <div class="text-content">
        <h5>INSIGHTS</h5>
        <h3>Data Analytics and Artificial Intelligence (AI)</h3>
        <p>are two of the most transformative technologies of the 21st century. They are being used to tackle a wide range of problems in many different industries, from finance and healthcare to retail and marketing. Here are some insights on how data analytics and AI are being used to drive business growth and innovation:</p>
        <button>Learn More</button>
    </div>
    <div class="image-content">
        <img src="../../../assets/images/insights.png">
    </div>
</div>