<div class="main">
    <div class="image-list">
        <img src="../../../assets/images/vecteezy_samsung-logo-icon-editorial-vector_6892649-removebg-preview-2.png" class="">
        <img src="../../../assets/images/vecteezy_samsung-logo-icon-editorial-vector_6892649-removebg-preview.png" class="">
        <img src="../../../assets/images/vecteezy_colourful-google-text-logo-on-white-background_10353286-removebg-preview-1.png" class="">
        <img src="../../../assets/images/vecteezy_samsung-logo-icon-editorial-vector_6892649-removebg-preview-1.png" class="">
        <img src="../../../assets/images/vecteezy_colourful-google-text-logo-on-white-background_10353286-removebg-preview-2.png" class="">
        <img src="../../../assets/images/vecteezy_colourful-google-text-logo-on-white-background_10353286-removebg-preview-3.png" class="">
        <img src="../../../assets/images/vecteezy_colourful-google-text-logo-on-white-background_10353286-removebg-preview.png" class="">
        <img src="../../../assets/images/vecteezy_samsung-logo-icon-editorial-vector_6892649-removebg-preview-3.png" class="">
    </div>
    <hr>
</div>